<module>
	<rawname>pinsets</rawname>
	<name>PIN Sets</name>
	<version>1.0.5</version>
	<type>setup</type>
	<category>Module</category>
	<menuitems>
		<pinsets>PIN Sets</pinsets>
	</menuitems>
	<info>http://aussievoip.com.au/wiki/freePBX-PinSets</info>
	<location>release/pinsets-1.0.4.tgz</location>
	<md5sum>e9019bd6c4fdfce0e6363e2ba1ca0542</md5sum>
</module>
