<module>
	<rawname>pinsets</rawname>
	<name>PIN Sets</name>
	<version>1.0</version>
	<type>setup</type>
	<category>Module</category>
	<menuitems>
		<pinsets>PIN Sets</pinsets>
	</menuitems>
	<info>http://aussievoip.com.au/wiki/freePBX-PinSets</info>
	<location>release/pinsets-1.0.tgz</location>
	<md5sum>243e95cd66235d97161d546ff4e076b6</md5sum>
</module>
